<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{margin: 0;padding: 0;}
			#cont{width: 1200px;overflow: hidden;border: solid 1px black;margin: 10px auto;}
			.box{width: 300px;border: solid 1px black;box-sizing: border-box;text-align: center;float: left;padding:20px 0;}
			.box img{display:block;width:90px;height:80px;margin:5px 0 5px 100px;}
			.box span{display: block;color: red;}
			.box p{height: 40px;overflow: hidden;font-size: 14px;line-height: 20px;}
			.box em{display: block;width: 120px;line-height: 22px;color: #fff;background: blue;margin: 5px auto;}
		</style>
		<link href="css/public.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<header>
		<div class="margin">
				<a href="#" class="logo"><img src="images/logo.png"/></a>
				<div class="header-r">
					<div class="nav">
						<a href="#">首页</a>
						<a href="#">服务支持</a>
						<a href="#">服务支持</a>
						<a href="#">服务支持</a>
						<a href="#">服务支持</a>
						<a href="#">服务支持</a>
						<a href="#">服务支持</a>
					</div>
					<input tyep="text" class="txt"/>
				</div>
		</div>
		</header>
		<div id="banner">
			<img src="images/banner.png"/>
		</div>
		<main>
			<div class="margin">
				<h3 class="title"><a href="#">自主产品</a></h3>
				<ul>
					<li>
						<img src="images/school.png"/>
						<h3>数字校园</h3>
						<p>花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝</p>
						<span>顶层设计</span>
						<span>顶层设计</span>
						<span>顶层设计</span>
					</li>
					<li>
						<img src="images/school.png"/>
						<h3>数字校园</h3>
						<p>花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝</p>
						<span>顶层设计</span>
						<span>顶层设计</span>
						<span>顶层设计</span>
					</li>
					<li>
						<img src="images/school.png"/>
						<h3>数字校园</h3>
						<p>花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝,花开堪折直须折,莫待无花空折枝</p>
						<span>顶层设计</span>
						<span>顶层设计</span>
						<span>顶层设计</span>
					</li>
				</ul>
			</div>
		</main>
		<div id="cont">
			<!-- <div class="box" index="">
				<img src="">
				<span>999</span>
				<p></p>
				<em>加入购物车</em>
			</div> -->
		</div>
	    <div id="us">
			<div class="margin">
				<div class="us-l">
					<ul>
						<li class="te"><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
					</ul>
					<ul>
						<li class="te"><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
					</ul>
					<ul>
						<li class="te"><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
					</ul>
					<ul>
						<li class="te"><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
					</ul>
					<ul>
						<li class="te"><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">自主产品</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
						<li><a href="#">数字校园平台</a></li>
					</ul>
				</div>
				<div class="us-r">
					<h3><a href="#">关注我们</a></h3>
					<ul>
						<li>
							<i class="te"></i>
							<p>金商棋</p>
						</li>
						<li>
							<i class="te"></i>
							<p>金商棋</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<footer>
			<p class="te">北京金商棋社股份有限公司所有</p>
			<p>北京金商棋社股份有限公司所有,北京金商棋社股份有限公司所有,</p>
			<p>北京金商棋社股份有限公司所有,北京金商棋社股份有限公司所有,北京金商棋社股份</p>
		</footer>
	</body>
	<!-- <script src="libs/ajax.3.0.js"></script>
	<script src="libs/cookie.js"></script> -->
	
	<script src="libs/jquery.js"></script>
	<script>
// 		console.log(1);
// 		$.ajax({
//   		url: "http://localhost:3000/api/list?dataName=home&rule=&q=&start=1&count=100",
// 			success: function(data){
// 				console.log(data);
// 			}
// });

	class Show{
			constructor(){
				this.cont = document.getElementById("cont"),
					this.load()
			}
			load(){
					var that = this;
					$.ajax({
							url:"http://localhost:3000/api/list?dataName=home&rule=&q=&start=1&count=100",
							success:function(res){
									console.log(res)
									that.res = res;
									that.display()
							}   
					})
			}
			display(){
					var str = "";
					for(var i=0;i<this.res.length;i++){
						str += `<div class="box" index="${this.res[i].id}">
											<img src="${this.res[i].url}">
											<span>${this.res[i].price}</span>
											<p>${this.res[i].name}</p>
											<em>加入购物车</em>
									</div>`;
								}
			this.cont.innerHTML = str;
							}
	}
new Show();

	</script>
</html>
